@import "node_modules/modern-normalize/modern-normalize.css";

body {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.header {
  color: #5b99f0;
  text-transform: uppercase;
  text-align: center;
}
.customToastDelete {
  background-color: #5b99f0;
  color: #f0f8ff;
}
